<footer class="site-footer">
  <div class="footer-container">

    <!-- Footer Columns -->
    <div class="footer-columns">

      <!-- Pages -->
      <div class="footer-column">
        <h4>Pages</h4>
        <ul>
          <li><a href="./pages/about.html">About</a></li>
          <li><a href="./pages/contact.html">Contact</a></li>
          <li><a href="./pages/careers.html">Careers</a></li>
          <li><a href="./pages/support.html">Support</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="footer-column">
        <h4>Social</h4>
        <ul class="social-links">
          <!-- Facebook -->
          <li>
            <a href="#" aria-label="Facebook">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M279.1 288l14.2-92.7h-88.9V127.9c0-25.4 12.4-50.1 52.2-50.1h40.4V6.3S260.4 0 225.4 0c-73.7 0-121.8 44.4-121.8 124.7v70.6H22.9V288h80.7v224h98.7V288z"/></svg>

              Facebook
            </a>
          </li>
          <!-- X (Twitter) -->
          <li>
            <a href="#" aria-label="X">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M389.2 48H467L305.6 240.7 489 464H343.7L229.8 322.6 99.6 464H21.3L190.6 259.6 13 48h151.6l99.1 124.6L389.2 48z"/></svg>

              X (Twitter)
            </a>
          </li>
          <!-- LinkedIn -->
          <li>
            <a href="https://www.linkedin.com/in/lucky-george-olumah-58621870/" target="_blank" aria-label="LinkedIn">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M100.3 480H7V165h93.3zm-46.7-355C24 125 0 101 0 71.3 0 41.7 24 17.7 53.7 17.7c29.7 0 53.7 24 53.7 53.7 0 29.7-24 53.7-53.7 53.7zM447.9 480h-92.9V330.2c0-35.7-.7-81.6-49.7-81.6-49.7 0-57.3 38.8-57.3 78.9V480h-92.9V165h89.2v43.1h1.3c12.4-23.6 42.5-48.5 87.6-48.5 93.8 0 111.2 61.8 111.2 142.3V480z"/></svg>

              LinkedIn
            </a>
          </li>
          <!-- Instagram -->
          <li>
            <a href="#" aria-label="Instagram">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M224 202.7c-36.8 0-66.6 29.8-66.6 66.6s29.8 66.6 66.6 66.6 66.6-29.8 66.6-66.6-29.8-66.6-66.6-66.6zM398.8 80H49.2C22 80 0 102 0 129.2v249.6C0 410 22 432 49.2 432h349.6c27.2 0 49.2-22 49.2-49.2V129.2c0-27.2-22-49.2-49.2-49.2zM224 346.7c-67.5 0-122.4-54.9-122.4-122.4S156.5 102 224 102s122.4 54.9 122.4 122.4-54.9 122.4-122.4 122.4zm138.6-225c-14.9 0-27-12.1-27-27s12.1-27 27-27 27 12.1 27 27-12.1 27-27 27z"/></svg
>
              Instagram
            </a>
          </li>
          <!-- YouTube -->
          <li>
            <a href="#" aria-label="YouTube">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path fill="white" 
          d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.4-48.6C458.6 
          64 288 64 288 64s-170.6 0-213.3 
          11.5c-23.6 6.3-42.1 24.9-48.4 
          48.6C16.8 167.3 16.8 256 16.8 
          256s0 88.7 9.5 131.9c6.3 23.7 
          24.8 42.3 48.4 48.6C117.4 448 
          288 448 288 448s170.6 0 213.3-11.5c23.6-6.3 
          42.1-24.9 48.4-48.6 9.5-43.2 
          9.5-131.9 9.5-131.9s0-88.7-9.5-131.9zM232.1 
          338.5v-165l142.7 82.5-142.7 82.5z"/>
      </svg>
              YouTube
            </a>
          </li>
        </ul>
      </div>

      <!-- Terms -->
      <div class="footer-column">
        <h4>Terms & Privacy</h4>
        <ul>
          <li><a href="./pages/terms.html">Terms</a></li>
          <li><a href="./pages/privacy.html">Privacy</a></li>
        </ul>
      </div>

    </div>

    <!-- Copyright -->
    <p class="footer-copy">&copy; 2025 MyPadiMan. All rights reserved.</p>
  </div>
</footer>


