<header class="site-header">
<nav class="navbar">

  <div class="logo">
  <img src="../src/images/mylogo1.webp" alt="tent image for logo">
  <a href="/">My<span class="highlight">PadiMan</span></a>
  </div>

    <div class="nav-mobile">
    <button id="menu-toggle" aria-label="Toggle Menu"></button>
    </div>

    <div class="nav-links" id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="../pages/login.html">Login</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
