<header class="site-header">
<nav class="navbar">

    <a href="/" class="logo">
      <img src="images/logo.png" alt="9jaVault Logo" loading="lazy">
    </a>

    <div class="nav-mobile">
    <button id="menu-toggle" aria-label="Toggle Menu"></button>
    </div>

    <div class="nav-links" id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="../pages/login.html">Login</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
